.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

html {
  cursor: url('../Images/plane.png'), auto;
}

body {
  background-color: white;
  margin: 0;
}

footer {
  margin-top: 10vh;
}

h1 {
  text-align: center;
}

header {
  position: sticky;
  top: 0vh;
  margin-top: 5vh;
  padding: 20px;
  background-color: #7a6ddd;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;

}

nav li {
  list-style-type: none
}

nav li a {
  text-decoration: none;
  background-color: white;
  border: black;
  border-style: solid;
  padding: 1vh;
  color: black;
}

div.burger {
  width: 50px;
  height: 50px;
  background-image: url("../Images/close.png");
  background-size: cover;
  display: none;
}

div.open {
  background-image: url("../Images/open.png");
}

@media screen and (max-width: 560px) {

  div.burger {
    display: block;
  }

  nav li {
    display: none;
    padding-top: 20px;
  }

  nav {
    flex-direction: column;
  }

  nav.nav-open li {
    display: block;
  }
}

div {
  display: flex;
}

img {
  max-width: 30vw;
}